<div dir="ltr"><div class="gmail_quote"><div dir="ltr" class="gmail_attr"><br></div><div style="width:100%!important;min-width:100%;background-color:#ffffff;margin:0;padding:0;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" bgcolor="#FFFFFF"><center style="width:100%;table-layout:fixed">
 <table align="center" style="border-spacing:0;border-collapse:collapse;color:#364364;width:100%;max-width:580px">
 
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;padding:0" align="left" valign="top">
 <table style="border-spacing:0;border-collapse:collapse;color:#364364;width:100%">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:center;font-size:0;padding:0" align="center" valign="top">
 
 <div style="margin:0 24px;padding:0">
 <div class="m_-4941268440603737266b-mail-grid__column" style="text-align:center;float:left;width:auto!important;max-width:168px;vertical-align:bottom;display:inline-block;margin:40px 0;padding:0;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">
 <div class="m_-4941268440603737266l-align_left" style="height:48px;margin:0;padding:0">
 <a href="https://www.reg.ru/?rtm_source=e-mail&amp;rtm_medium=e-mail&amp;rtm_campaign=DomainAdminContact" target="_blank">
 <img src="https://i.reg.ru/i/mail/img/b-mail__logo_style_for_light.png" width="150" height="40" alt="REG.RU" style="border:0">
 </a> </div>
 </div>
 
 <div class="m_-4941268440603737266b-mail-grid__column" style="text-align:center;float:right;width:auto!important;vertical-align:bottom;display:inline-block;margin:0;padding:0;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">
 <div class="m_-4941268440603737266l-align_right" lang="l-align_right" style="text-align:right;margin:0;padding:0" align="right">
 <p style="margin:36px 0;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 </p><div style="color:#ffffff;text-align:center;text-decoration:none;margin:0;padding:0;font:bold 15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">
 <div class="m_-4941268440603737266l-align_right" style="text-align:right;margin:48px 0 36px;padding:0" align="right">
 
 <a href="https://www.reg.ru/user/?rtm_source=e-mail&amp;rtm_medium=e-mail&amp;rtm_campaign=DomainAdminContact" style="color:#1d9ef9!important;text-align:center;text-decoration:none;font:bold 20px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" target="_blank">
 <div class="m_-4941268440603737266b-mail-button__inner_color_default" style="display:inline-block;border-radius:3px;color:#667695;text-align:center;background-color:#f2f4f9;margin:0;padding:0;border-color:#f2f4f9;border-style:solid;border-width:8px 24px;font:bold 15px/20px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">Войти
 </div>
 </a>
 
 </div>
 </div>
 <p></p>
 </div>
 </div>
 </div>
 
 </td>
 </tr>
 </tbody></table>
 </td>
</tr>
<tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;background-color:#dfe4ec;padding:12px" align="left" bgcolor="#DFE4EC" valign="top">
 <table width="100%" style="border-spacing:0;border-collapse:collapse;color:#364364">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;background-color:#ffffff;padding:25px 35px 0" align="left" bgcolor="#FFFFFF" valign="top">
 <table style="border-spacing:0;border-collapse:collapse;color:#364364">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;line-height:1;padding:6px 36px 0 0" align="left" valign="top">
 <img src="https://img.reg.ru/mail/otrs/b-icon_support_mail.png" alt="" style="vertical-align:middle;border:0">
 </td>
 <td style="vertical-align:middle;text-align:left;padding:0" align="left" valign="middle">
 <p style="margin:0;font:bold 24px/36px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 Подтверждение отправки уведомления по домену <a href="http://tsitologiya.su" target="_blank">tsitologiya.su</a> через форму обратной связи
 </p>
 </td>
 </tr>
 </tbody></table>
 </td>
</tr>
 <tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;background-color:#ffffff;padding:25px 35px" align="left" bgcolor="#FFFFFF" valign="top">
 <p style="margin:12px 0 6px;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 </p><p>Пожалуйста, подтвердите, что именно вы отправляли своё уведомление через форму обратной связи с администратором домена <strong><a href="http://tsitologiya.su" target="_blank">tsitologiya.su</a></strong>.
Для этого нажмите на кнопку «Подтвердить».
Ссылка действительна в течение 6 часов.</p>

<p>Письмо отправлено с целью предотвратить использование ваших личных данных злоумышленниками.</p>

<p>Письмо составлено автоматически, пожалуйста, не отвечайте на него.
Спасибо, что пользуетесь нашими сервисами</p>
 <p></p>
 
 
 
  <div style="margin:24px 0;padding:0">  <a href="https://www.reg.ru/whois/admin_contact?send_msg_token=70eb696520f7820f6c420cc500f89ac3&amp;rtm_source=e-mail&amp;rtm_medium=e-mail&amp;rtm_campaign=DomainAdminContact" style="color:#ffffff;text-align:center;text-decoration:none;font:bold 20px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" target="_blank">
 <div style="display:block;border-radius:3px;color:#ffffff;text-align:center;background-color:#00c084;margin:0;padding:0;border-color:#00c084;border-style:solid;border-width:18px 30px;font:bold 20px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">
 Подтвердить </div>
 </a> 
 </div>
 </td>
</tr>
 </tbody></table>
 </td>
</tr>
 

 <tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;padding:0" align="left" valign="top">
 
 <p style="margin:24px 0 6px;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">Если у вас есть вопросы, вы можете обратиться в наш раздел «<a href="https://www.reg.ru/support/?rtm_source=e-mail&amp;rtm_medium=e-mail&amp;rtm_campaign=DomainAdminContact" style="color:#069dfa;text-decoration:underline;font-family:Arial,&#39;Helvetica Neue&#39;,Helvetica,sans-serif" target="_blank">Помощь</a>»
 <br>Спасибо за то, что вы с нами! Искренне ваш, <a href="http://REG.RU" target="_blank">REG.RU</a>.
 </p>
 </td>
</tr>
<tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;padding:0" align="left" valign="top">
 <table style="border-spacing:0;border-collapse:collapse;color:#364364;width:100%;max-width:580px">
 <tbody><tr><td><p style="text-align:center;margin:24px 0 6px;font:12px/18px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">
 Это письмо содержит важную информацию. Оно обязательно и не требует отписки.
 </p>
 </td></tr></tbody></table>
 </td>
</tr>
 
 </tbody></table>
 </center>
 </div>

</div></div>
